body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('images/background.jpg'); /* Update this path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background: rgba(255, 255, 255, 0.9); /* Adding a semi-transparent background for better readability */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
}

.toggle-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  
}

.toggle-btn {
    background: #eee;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
    flex: 1;
    border-radius: 5px;
}

.toggle-btn:not(:last-child) {
    margin-right: 10px;
}

.toggle-btn.active {
    background: #007BFF;
    color: white;
}

.form-container {
    display: flex;
    justify-content: center;
}

.form {
    display: none;
    flex-direction: column;
    width: 100%;

}

.form.active {
    display: flex;
}

form h2 {
    margin-bottom: 10px;
    text-align: center;
}

form label {
    margin: 10px 0 5px;
    font-weight: bold;
}

form input {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px); /* Adjusting for padding and border */
}

form button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background: #007BFF;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 16px;
}

form button:hover {
    background: #0056b3;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-container input {
    margin-right: 10px;
}

.checkbox-label {
    font-weight: normal;
}
